@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

.custom-calendar {
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

.rmdp-border-bottom {
  border-bottom: 0 !important;
}

.rmdp-top-class {
  justify-content: center;
}

.rmdp-header-values {
  font-weight: bold;
}
.rmdp-button {
  cursor: pointer;
  background-color: #1dbeb4 !important;
  border: 0;
  color: white;
  height: 35px;
  width: 190px;
  left: 466px;
  top: 301px;
  border-radius: 5px;
  margin-right: 30px;
  margin-top: 7px;
}
.rmdp-arrow-container {
  background: white;
}
.rmdp-arrow-container:hover {
  opacity: 0.3;
  padding-top: 2px;
}

.teal .rmdp-week-day {
  color: #4a4e79;
}

.teal .rmdp-day.rmdp-today span {
  color: #1dbeb4;
  background-color: white;
}
.rmdp-week {
  align-items: center;
  padding: 3px;
}
.rmdp-range.start {
  border-radius: 50%;
  background-color: #1dbeb4 !important;
}

.rmdp-range > span {
  background-color: #1dbeb4 !important;
  color: white !important;
}

.rmdp-wrapper {
  padding: 10px 10px 5px 10px;
}

.rmdp-day-picker {
  display: flex;
  flex-direction: column;
}

.rmdp-day-picker > div:nth-child(1) {
  border-bottom: 0.1px solid rgba(128, 128, 128, 0.555) !important;
}

.rmdp-range-picker-footer {
  margin-top: -30px;
}

.rmdp-day {
  margin: 3px !important;
}

.teal .rmdp-range {
  margin: 3px;
  width: 28px;
  height: 28px;
  background-color: #1dbeb4 !important;
  color: white;
  border-radius: 50%;
}

.rmdp-range.start span {
  background-color: #1dbeb4 !important;
  color: white !important;
}

.rmdp-header-values div {
  display: none !important;
}

.date input {
  color: #545776;
  font-size: 14px;
}

.rmdp-range-picker-footer {
  display: flex;
}
@media (min-width: 768px) {
  .teal .rmdp-range {
    height: 33px;
    width: 33px;
  }

  .rmdp-day-picker > div:nth-child(1) {
    border-bottom: none !important;
    border-right: 0.1px solid rgba(128, 128, 128, 0.555) !important;
    padding: 0 10px;
  }

  .custom-calendar {
    padding: 10px;
  }
  .rmdp-day-picker {
    display: flex;
    flex-direction: unset;
  }
  .rmdp-button {
    cursor: pointer;
    align-items: flex-end;
    background-color: #1dbeb4;
    border: 0;
    color: white;
    height: 40px;
    width: 100%;
    left: 466px;
    top: 301px;
    border-radius: 5px;
  }
}

@media (min-width: 950px) {
  .rmdp-button {
    width: 200px;
  }
  .rmdp-wrapper{
    padding: 0px;
  }
  .rmdp-calendar{
    padding:0px
  }
}
